body, html {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#bg {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(./Images/Eagle-bg.jpg);
    overflow-y: hidden;
}

h1 {
    font-family: Montserrat;
    color: white;
    margin: 0px;
    position: absolute;
    top: 15px;
    left: 20%;
    text-align: center;
}

ul.nav {
    list-style-type: none;
    margin-top: 0px;
    right: 20%;
    position: absolute;
    top: 20px;
}

.nav li {
    display: inline-block;
    font-family: Montserrat;
    color: white;
    margin-left: 40px;
    font-size: 1em;
    font-weight: bold;
}

img {
    margin-left: 40px;
    background: none;
}

a:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    padding-bottom: 10px;
}

h2 {
    width: 100%;
    color: white;
    font-family: Kaushan Script;
    font-size: 4.5em;
    position: absolute;
    top: 100px;
    text-align: center;
    margin-bottom: 100px;
}

#yes {
    color: white;
}

#wel {
    width: 100%;
    color: white;
    font-family: Montserrat;
    font-size: 8em;
    position: absolute;
    left: 0%;
    top: 280px;
    margin-bottom: 100px;
    text-align: center;
}

#line {
    background-color: white;
    width: 4%;
    height: 3px;
    position: absolute;
    left: 48.5%;
    z-index: 2;
    top: 620px;
}

#more {
    color: white;
    font-size: 1em;
    position: absolute;
    text-align: center;
    top: 640px;
    padding: 10px 25px;
    border: white solid 3px;
    left: 46.3%;
}

.bar {
    list-style-type: none;
    margin-top: 0px;
    right: 18%;
    position: absolute;
    top: 870px;
    margin-bottom: 0px;
}

.bar li {
    display: inline-block;
    font-family: Montserrat;
    color: white;
    margin-left: auto;
    font-size: 1em;
    font-weight: bold;
    width: 270px;
    border-top: 5px solid;
    margin-right: 30px;
    opacity: 0.5;
}

.bar li:hover {
    opacity: 1;
}

li p {
    display: inline-block;
    font-size: larger;
}

.class {
    font-size: 3em;
    font-size: larger;
}

.aclock {
    height: 750px;
    width: 100vw;
    margin: 0px;
    overflow-y: hidden;
}

.aclock h2 {
    width: 100%;
    color: black;
    font-family: Kaushan Script;
    font-size: 1.5em;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}

.aclock h1 {
    font-family: Montserrat;
    width: 100%;
    color: black;
    margin: 0px;
    text-align: center;
    top: 20px;
    left: 0px;
    position: relative;
}

.clock {
    height: 250px;
    width: 100vw;
    margin: 0px;
    margin-top: 60px;
    overflow-y: hidden;
    background-color: rgb(149, 225, 211);
}

#latin {
    text-align: center;
    opacity: 0.7;
    margin-top: 50px;
    font-size: 1.2em;
    font-family: Roboto;
}

#one {
    position: relative;
    margin-left: 300px;
    height: 250px;
    width:  380px;
}

#three {
    margin-right: 300px;
}

.yes {
    margin-top: 80px;
}

.clock ul {
    margin: 0%;
}

.clock li {
    display: inline-block;
    font-size: 4em;
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    padding: 100px 70px;
    padding-bottom: 60px;
    border-right: rgb(255, 255, 255, 0.3) solid 3px;
    list-style-type: none;
    line-height: 50px;
    text-align: center;
}

.clock li:nth-of-type(1) {
    margin-left: 8%;
    border-left: rgb(255, 255, 255, 0.3) solid 3px;
    line-height: 25px;
    padding-top: 100px;
} 

.clock p {
    margin: 0%;
    font-size: medium;
    padding: 0%;
    width: 150px;
}

#work {
    height: 700px;
}

#work h1, h2 {
    position: relative;
    color: black;
    left: auto;
    font-size: 2.5em;
}

#work h2 {
    top: 50px;
    font-size: 2.0em;
    margin-bottom: 60px;
}

.first {
	float: left;
	width: 75px;
	height: 75px;
	position: absolute;
	top: -70px;
}

#list li {
    display: inline-block;
    margin-left: 9%;
    font-size: larger;
    padding: 0px;
    font-family: Montserrat;
    text-transform: uppercase;
}

#list p {
    font-size: large;
    text-align: right;
    width: 365px;
    opacity: 0.5;
    font-family: Roboto;
    text-transform: none;
}

#list img {
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 80px;
}

#phone {
    background-image: url(./Images/Rectangle\ 21.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

#phone h2 {
    font-size: 2em;
    top: 80px
}

#phone h1 {
    position: relative;
    margin: auto;
    text-align: center;
    top: auto;
    left: auto;
    color: black;
    font-size: 2.5em;
}

#service {
    height: 900px;
}

hr {
    width:70px;
    text-align:auto;
    height: 3px;
    background-color: rgb(255, 81, 0);
    margin-top: 30px;
}

#service h2 {
    top: 40px;
    font-size: 2em;
    margin-bottom: 60px;
}

#service h1 {
    position: relative;
    top: auto;
    left: auto;
    color: black;
    font-size: 2.5em;
}

#service p {
    font-family: Roboto;
    opacity: 0.7;
}

#service img {
    margin-left: 15%;
    margin-right: 2%;
    margin-top: 50px;
    display: inline;
}

.dropdown {
    display: inline-block;
}

.dropdown button {
    position: absolute;
    top: 4050px;
    width: 33%;
    height: 30px;
    text-align: left;
    padding: 30px 20px;
    background-color: white;
    border: solid 1px;
    border-color: lightgrey;
}

.dropdown img {
    position: absolute;
    bottom: 13px
}

.dropdown button p {
    position: absolute;
    bottom: 3.5px;
    left: 10%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: larger;
    font-family: Montserrat;
}

.dropdown button:hover {
    background-color: rgb(240, 234, 234);
}

#myDropdown div{
    margin: 0px;
    width: 30%;
    display: inline-block;
}

#myDropdown p {
    font-size: large;
    overflow: auto;
    width: 30%;
    height: 150px;
    margin: 0px;
    display: inline-block;
    position: absolute;
    top: 4110.5px;
    padding-left: 20px;
    padding-right: 34px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 27px;
    border: 1px solid lightgray;
}

#myDropdown p::-webkit-scrollbar {
    width: 7px;
}

#myDropdown p::-webkit-scrollbar-track {
    background: #c8c6c6bb;
    border-radius: 30px;
  }

#myDropdown p::-webkit-scrollbar-thumb {
    background: #42cbf5;
    border-radius: 30px;
    max-height: 1px;
  }

#myDropdown p::-webkit-scrollbar-thumb:hover {
    background: #4275f5;
  }

#myDropdown p:hover {
    display: inline-block;
}

#cre {
    position: relative;
    margin: 0%;
    top: -20px;
    font-size: larger;
    font-family: Roboto;
    opacity: 0.7;
    font-weight: bold;
    text-transform: uppercase; 
    height: 30px;
    text-align: left;
    padding-left: 60px;
    padding-right: 442px;
    padding-top: 20px;
    padding-bottom: 15px;
    border: 1px solid lightgray;
}

#cres {
    position: absolute;
    margin: 0%;
    left: -70px;
    top: -35px;
}

#JonDoe {
    height: 300px;
    margin: 0%;
    background-color: #f8f8f8;
}

#JonDoe div {
    
    position: relative;
    width: 75%;
    height: 80%;
    margin: auto;
    top: 32px;
}

#jon {
    position: inherit;
    display: inline-block;
    top: -5%;
}

#jon2 {
    display: inline-block;
    position: inherit;
    top: 20%;
    margin-left: 70px;
}

#jon3 {
    display: inline-block;
    position: inherit;
    width: 60%;
    line-height: 35px;
    font-size: 24px;
    margin-left: 50px;
    top: -15px;
    font-family: Roboto;
    opacity: 0.5;
    color: black;
}

#jon4 {
    position: inherit;
    margin-left: 23%;
    top: -18%;
    width: 4.5%;
    background-color: rgb(244, 81, 81);
    border: 0px;
}

#doe {
    display: inline-block;
    position: absolute;
    top: 55%;
    left: 28%;
    font-size: x-large;
    font-family: Kaushan Script;
}

#jon5 {
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    right: 10%;
}

#team {
    height: 1060px;
    margin: 0xp;
}
#team h2 {
    font-size: 34px;
    top: 80px;
}

#team h1 {
    position: relative;
    color: black;
    width: 100%;
    margin: auto;
    left: 0%;
    top: 0px;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 60px;
}

#team hr {
    margin-bottom: 60px;
}

#team p {
    opacity: 0.7;
    font-size: large;
    width: 60%;
    text-align: center;
    margin: auto;
}

#team2 {
    margin: auto;
    width: 70%;
    margin-top: 80px;
}

#team2 h3 {
    display: inline-block;
    margin-left: 13%;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: large;
    margin-top: 30px;
    margin-bottom: 0px;
}

#team2 h3:nth-of-type(2) {
    margin-left: 18%;
}

#team2 h3:nth-of-type(3) {
    margin-left: 17%;
}

#team2 h4 {
    display: inline-block;
    margin-top: 10px;
    margin-left: 13.5%;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: small;
    font-weight: lighter;
    font-style: italic;
}

#team2 h4:nth-of-type(2) {
    margin-left: 22%;
}

#team2 h4:nth-of-type(3) {
    margin-left: 23.5%;
}

#layer25 {
    height: 240px;
    background-color: #f8f8f8;
}

#layer25 img {
    margin-left: 18%;
    margin-right: 15%;
    margin-top: 3%;
}

#gallery {
    height: 420px;
}

#gallery h2 {
    top: 50px;
    font-size: 2em;
    left: 0%;
    text-align: center;
    margin-bottom: 80px;
}

#gallery h1 {
    position: relative;
    color: black;
    margin: 0%;
    left: 0%;
    top: 0%;
    text-transform: uppercase;
    margin-bottom: 50px;
}

#gallery p {
    opacity: 0.7;
    font-size: x-large;
    text-align: center;
    font-family: Roboto;
    margin-top: 50px;
}

#gallery2 {
    top: 780px;
    margin: 0%;
    background-color: #f8f8f8;
}

#gallery2 img {
    margin: 0%;
}

#JonDoe1 {
    height: 440px;
    margin: 0%;
}

#JonDoe1 div {
    position: relative;
    width: 75%;
    height: 80%;
    margin: auto;
    top: 32px;
}

#ear {
    position: inherit;
    display: inline-block;
    top: -5.2%;
}

#ear2 {
    display: inline-block;
    position: inherit;
    top: 20%;
    margin-left: 70px;
}

#ear3 {
    display: inline-block;
    position: inherit;
    width: 60%;
    line-height: 35px;
    font-size: 24px;
    margin-left: 50px;
    top: -15px;
    font-family: Roboto;
    opacity: 0.5;
    color: black;
}

#ear4 {
    position: inherit;
    margin-left: 28%;
    top: -8%;
    width: 4.5%;
    background-color: rgb(244, 81, 81);
    border: 0px;
}

#jdoe {
    display: inline-block;
    position: absolute;
    top: 58%;
    left: 33%;
    font-size: x-large;
    font-family: Kaushan Script;
}

#ear5 {
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    right: 10%;
}

#clients {
    height: 830px;
    background-image: url(./Images/Rectangle\ 22.png);
}

#gam {
    margin-bottom: 65px;
}

#clients .line h2 {
    font-weight: lighter;
    top: 90px;
}

#clients .line h3 {
    text-align: center;
    font-family: Montserrat;
    font-size: 3em;
    position: relative;
}

#clients .pic div {
    width: 30%;
    display: inline-block;
    margin-bottom: 70px;
    position: relative;
    left: 20%;
}

#clients .pic h3 {
    font-size: large;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0%;
    width: 43%;
    display: inline-block;
    top: -75px;
    text-align: left;
    left: 10px;
}

#clients .pic h4 {
    font-size: medium;
    font-family: Roboto;
    margin: 0%;
    width: 43%;
    font-style: italic;
    display: inline-block;
    top: 50px;
    text-align: left;
    left: 170px;
    position: absolute;
}

#clients .pic hr {
    margin-top: -25px;
    margin-left: 170px;
}

#clients .pic p {
    width: 65%;
    font-family: Roboto;
    opacity: 0.5;
    font-weight: bold;
    margin-left: 170px;
    line-height: 25px;
}

#stories {
    height: 500px;
    margin: 0%;
}