body, html {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#bg {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(./Images/Eagle-bg.jpg);
    overflow-y: hidden;
}

h1 {
    font-family: Montserrat;
    color: white;
    margin: 0px;
    position: absolute;
    top: 15px;
    left: 20%;
    text-align: center;
}

ul.nav {
    list-style-type: none;
    margin-top: 0px;
    right: 20%;
    position: absolute;
    top: 20px;
}

.nav li {
    display: inline-block;
    font-family: Montserrat;
    color: white;
    margin-left: 40px;
    font-size: 1em;
    font-weight: bold;
}

img {
    margin-left: 40px;
    background: none;
}

a:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    padding-bottom: 10px;
}

h2 {
    width: 100%;
    color: white;
    font-family: Kaushan Script;
    font-size: 4.5em;
    position: absolute;
    top: 100px;
    text-align: center;
    margin-bottom: 100px;
}

#yes {
    color: white;
}

#wel {
    width: 100%;
    color: white;
    font-family: Montserrat;
    font-size: 8em;
    position: absolute;
    left: 0%;
    top: 280px;
    margin-bottom: 100px;
    text-align: center;
}

#line {
    background-color: white;
    width: 4%;
    height: 3px;
    position: absolute;
    left: 48.5%;
    z-index: 2;
    top: 620px;
}

#more {
    color: white;
    font-size: 1em;
    position: absolute;
    text-align: center;
    top: 640px;
    padding: 10px 25px;
    border: white solid 3px;
    left: 46.3%;
}

.bar {
    list-style-type: none;
    margin-top: 0px;
    right: 18%;
    position: absolute;
    top: 870px;
    margin-bottom: 0px;
}

.bar li {
    display: inline-block;
    font-family: Montserrat;
    color: white;
    margin-left: auto;
    font-size: 1em;
    font-weight: bold;
    width: 270px;
    border-top: 5px solid;
    margin-right: 30px;
    opacity: 0.5;
}

.bar li:hover {
    opacity: 1;
}

li p {
    display: inline-block;
    font-size: larger;
}

.class {
    font-size: 3em;
    font-size: larger;
}

.aclock {
    height: 750px;
    width: 100vw;
    margin: 0px;
    overflow-y: hidden;
}

.aclock h2 {
    width: 100%;
    color: black;
    font-family: Kaushan Script;
    font-size: 1.5em;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}

.aclock h1 {
    font-family: Montserrat;
    width: 100%;
    color: black;
    margin: 0px;
    text-align: center;
    top: 20px;
    left: 0px;
    position: relative;
}

.clock {
    height: 250px;
    width: 100vw;
    margin: 0px;
    margin-top: 60px;
    overflow-y: hidden;
    background-color: rgb(149, 225, 211);
}

#latin {
    text-align: center;
    opacity: 0.7;
    margin-top: 50px;
    font-size: 1.2em;
    font-family: Roboto;
}

#one {
    position: relative;
    margin-left: 300px;
    height: 250px;
    width:  380px;
}

#three {
    margin-right: 300px;
}

.yes {
    margin-top: 80px;
}

.clock ul {
    margin: 0%;
}

.clock li {
    display: inline-block;
    font-size: 4em;
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    padding: 100px 70px;
    padding-bottom: 60px;
    border-right: rgb(255, 255, 255, 0.3) solid 3px;
    list-style-type: none;
    line-height: 50px;
    text-align: center;
}

.clock li:nth-of-type(1) {
    margin-left: 8%;
    border-left: rgb(255, 255, 255, 0.3) solid 3px;
    line-height: 25px;
    padding-top: 100px;
} 

.clock p {
    margin: 0%;
    font-size: medium;
    padding: 0%;
    width: 150px;
}

#work {
    height: 700px;
}

#work h1, h2 {
    position: relative;
    color: black;
    left: auto;
    font-size: 2.5em;
}

#work h2 {
    top: 50px;
    font-size: 2.0em;
    margin-bottom: 60px;
}

.first {
	float: left;
	width: 75px;
	height: 75px;
	position: absolute;
	top: -70px;
}