body {
    margin: 0px;
}

#bg {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(./Images/Eagle-bg.jpg);
}

h1 {
    font-family: Montserrat;
    color: white;
    margin: 0px;
    position: absolute;
    top: 15px;
    left: 20%;
}

ul {
    list-style-type: none;
    margin-top: 0px;
    right: 20%;
    position: absolute;
    top: 20px;
}

li {
    display: inline-block;
    font-family: Montserrat;
    color: white;
    margin-left: 40px;
    font-size: 1em;
    font-weight: bold;
}

img {
    margin-left: 40px;
    background: none;
}

a:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    padding-bottom: 10px;
}

h2 {
    width: 35%;
    color: white;
    font-family: Kaushan Script;
    font-size: 4.5em;
    position: absolute;
    top: 220px;
    left: 640px;
    margin-bottom: 100px;
}

#wel {
    width: 50%;
    color: white;
    font-family: Montserrat;
    font-size: 8em;
    position: absolute;
    top: 390px;
    left: 440px;
    margin-bottom: 100px;
    text-align: center;
}

#line {
    background-color: white;
    width: 5%;
    height: 3px;
    position: absolute;
    z-index: 2;
    left: 45%;
    right: 50%;
    top: 720px;
}

#more {
    color: white;
    font-size: 1em;
    position: absolute;
    left: 43.2%;
    top: 740px;
    padding: 10px 25px;
    border: white solid 3px;
}